{% extends 'base.html.twig' %}

{% block body %}
    <div class="row taskCreateForm">
        {{ form_start(form, {'action' : path('task_create')}) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-success pull-left">Ajouter</button>
        <a href="{{ path('homepage') }}" class="btn btn-primary pull-right">Retour à la gestion tâches</a>

        {{ form_end(form) }}

    </div>
{% endblock %}
