{% extends 'base.html.twig' %}
{% block title %}Page introuvable{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset("css/error404.css") }}">{% endblock %}

{% block body %}

    <div class="container mt-5">
        <div class="media-trick px-5 py-5 text-center">
            <h1>Page introuvable</h1>
            <p>
                Vous n'êtes pas aurtorisé à accéder à cette page.
                <a href="{{ path('homepage') }}">Retour à la liste des tâches.</a>.
            </p>
        </div>

    </div>

{% endblock %}